# Node
node_modules/
npm-debug.log
yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build directories
/frontend/build/
/frontend/dist/
/backend/dist/
/backend/build/

# Coverage directories
/coverage/
/frontend/coverage/
/backend/coverage/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!example.tfvars
.terraformrc
terraform.rc
.terraform.lock.hcl

# Kubernetes
kubeconfig
*.kubeconfig

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project